// Place all the styles related to the ColorPalette controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


td {
  width: 30px;
  height: 30px;
  border: 1px solid black;

}

table {
  border-collapse: separate;
  border-spacing: 15px;
}
.grids{
  display: inline;
  float: left;
}

.side_bar{
  display: inline;
  float: right;
}
